<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail</title>
</head>
<body>
    <table>
        <tr>
            th 用户序号
            <th>名字</th>
            <th>学号</th>
            <th>手机</th>
            <th>邮箱</th>
        </tr>
            td= user.index
            td= user.username
            td= user.studentID
            td= user.phonenumber
            td= user.email
    </table>
</body>
</html>